@font-face {
    font-family: 'MyCustomFont';
    src: url('/fonts/LTSuperior-Bold.otf') format('otf'),
         url('/fonts/TT-firs-Text-Trial-Bold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }



  html, body {
    margin: 0;
    
  }
  
  body {
    background: url('./assets/background-color.png')
      no-repeat;
    font-family: 'MyCustomFont';
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full viewport height */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }