@font-face {
    font-family: 'MyCustomFont';
    src: url('/fonts/LTSuperior-Bold.otf') format('otf'),
         url('/fonts/TT-firs-Text-Trial-Bold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }


* {
    padding: 0;
    box-sizing: border-box;
    
  }

  body {
   font-family: 'MyCustomFont';
  }